.time{
 margin: 20px 0 0 50px;
 
  display: inline-block;
}
.timeD{
  font-size: 4em;
}
.timeI{
  display: flex;
  justify-content: space-around;
  color: gray;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
